pandas==2.2.3
beautifulsoup4==4.13.3
numpy==2.2.3
matplotlib==3.10.1
seaborn==0.13.2
urllib3==2.3.0
ipykernel==6.29.5
lxml==5.3.1
requests==2.32.3
pymongo==4.12.0
psycopg2-binary==2.9.10
SQLAlchemy==2.0.40
scikit-learn==1.6.1
plotly==6.0.1
dagster==1.10.10
dagit==1.10.10
pyjstat==2.4.0
streamlit==1.44.1
pyspark==3.5.1
apache-sedona==1.5.1
boto3==1.40.2
h3==4.3.0